<template name="bolayout">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="/">Queue Manager </a>
			<ul class="nav">
				{{#if currentUser}}
					<li><a href="/">Dashboard</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="/" class="logout">Log Out</a></li>
				{{else}}
					<li><a href="/login">Log In</a></li>
				{{/if}}	
			</ul>
		</div>
	</div>
	<div class="container">
		{{>yield}}
	</div>
</template>	