<template name="appLayout">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="/">iTicket</a>
			<ul class="nav">
			  <li id="newqueueli" class="active"><a class="brand" href="#newqueue" id="newqueue">Join queue</a></li>
			  <li id="myqueuesli"><a class="brand" href="#myqueues" id="myqueues">My queues</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		{{>yield}}
	</div>

    <footer class="footer">
        <p>Your code: {{phoneIdLastDigits}}</p>
    </footer>
</template>	
