<template name="appLayout">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav navbar-nav">
                <li><p class="brand">LineApp</p></li>
                <li id="newqueueli" class="active"><a class="brand" href="#newqueue" id="newqueue">Join queue</a></li>
                <li id="myqueuesli"><a class="brand" href="#myqueues" id="myqueues">My queues</a></li>
            </ul>
        </div>
    </nav>
	<div class="container">
		{{>yield}}
	</div>

    <footer class="footer">
        <p>Your code: {{phoneIdLastDigits}}</p>
    </footer>
</template>