template(name="moLayout")
  +mohead
  +monavbar
  +mobile

template(name="mohead")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")

template(name="monavbar")
  #wrapper
    // Navigation
    nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/")התורים שלי
        a.navbar-brand(href="/")הוסף תור

template(name="mobile")
  #mobile-page-wrapper
    .row
      .col-lg-12
        h1.page-header ברוכים הבאים
      // /.col-lg-12
    // /.row
    .row
      .col-lg-3.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-9.text-right
                div סרוק באמצעות GPS
          a(href="#")
            .panel-footer
              span.pull-left פרטים
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-9.text-right
                div סרוק באמצעות QR
          a(href="#")
            .panel-footer
              span.pull-left פרטים
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
    // /.row