body {
    background-image: url('bubbles-blue.jpg');
    background-size: cover;
}

.notvisible {
    visibility: collapse;
}

.toppad {
	padding-top: 20px;
}

.errorlabel {
	margin-top: 50px;
}

.isValid {
	border-style: solid;
    border-color: green;
    border-width: 1px;
    background-color: #CEFFE7;
}

.isInvalid {
	border-style: solid;
    border-color: red;
    border-width: 1px;
    background-color: #FFCECE;
}

.footer {
    width: 80%;
    bottom: 0;
    position: fixed;
}