<template name="appQueuecontent">
	<div id="queuecontent" class="toppad">
		{{> appLeaveQueueConfirm}}
		{{> appPostponeQueueConfirm}}

		<div class="panel-group" id="accordion">
			{{#each queueitem}}
				<div class="{{turnStatus getSequence}}">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#{{name}}">{{name}}</a>
						</h4>
					</div>
					<div id="{{name}}" class="panel-collapse collapse">
						<div class="panel-body">
					 		<h3>Your Location</h3>
					  		<p>{{getSequence}}{{prefix}}</p>
					  		<h3>Current Location</h3>
					  		<p>{{currentSec}}{{prefix}}</p>
					  		<button type="button" class="btn btn-default postpone">דחה תור</button>
					  		<button type="button" class="btn btn-default leave">עזוב תור</button>
						</div>
					</div>
				</div>
			{{else}}
				<p>You are not in any active queue</p>
			{{/each}}
		</div>
	</div>
</template>

<template name="appLeaveQueueConfirm">
  <div id="appLeaveQueueModal" class="modal notvisible">
      <div class="modal-content">
        <div class="modal-body">
        	<p>Are you sure that you want to leave the queue?</p>
        </div>
        <div class="modal-footer">
        	<center>
                <button class="btn btn-success save">Yes</button>
	          	<button class="btn cancel" data-dismiss="modal">No</button>
           </center>
        </div>
      </div>
  </div>
</template>

<template name="appPostponeQueueConfirm">
  <div id="appPostponeQueueModal" class="modal notvisible">
      <div class="modal-content">
        <div class="modal-body">
        	<p>Are you sure that you want to postpone your turn?</p>
        	<p>Your new location would be {{newLocation}}</p>
        	<p>Estimated wait time would be {{newEstimatedTime}}</p>
        </div>
        <div class="modal-footer">
        	<center>
                <button class="btn btn-success save">Yes</button>
        	  	<button class="btn cancel" data-dismiss="modal">No</button>
            </center>
        </div>
      </div>
  </div>
</template>