<template name="appQueueContent">
	<div id="queuecontent" class="toppad">
		{{> appLeaveQueueConfirm}}
		{{> appPostponeQueueConfirm}}

		<div class="panel-group" id="accordion">
			{{#each queueitem}}
				{{#with ticketItem}}
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#">Queue Details</a></li>
                        <li role="presentation"><a href="#">Branch Details</a></li>
                    </ul>

					<div class="{{turnStatus ../currentSeq}}">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#{{_id}}">{{branchName}}: {{../name}}</a>
							</h4>
						</div>
						<div id="{{_id}}" class="panel-collapse collapse">
							<div class="panel-body">
								<h3>Your Location</h3>
								<p>{{../prefix}}{{sequence}}</p>
								<h3>Current Location</h3>
								<p>{{../prefix}}{{../currentSeq}}</p>
                                <h3>Estimated waiting time</h3>
                                <p>{{estimatedWaitTime}} mins</p>
								<p>There are <b> {{ahead}} </b> people ahead</p>

								{{#if station}}
									<p>It's your turn! please come to station {{../station}}</p>
								{{/if}}

								{{#if isUserLast ../last}}
									<button type="button" class="btn btn-default postpone" disabled="true">Postpone turn</button>
								{{else}}
									<button type="button" class="btn btn-default postpone">Postpone turn</button>
								{{/if}}

								<button type="button" class="btn btn-default leave">Leave queue</button>
							</div>
						</div>
					</div>
				{{/with}}
			{{else}}
				<p>You are not in any active queue</p>
			{{/each}}
		</div>
	</div>
</template>

<template name="appShowBranchInfo">
	Hello, I am branch.
	Phone: 12355
	Fax: 12346567
	details: we like to give service
	opening hours: sundays 1-6
				   asdad. sada. d
				   das
				   dfgdfg
</template>

<template name="appLeaveQueueConfirm">
  <div id="appLeaveQueueModal" class="modal notvisible">
      <div class="modal-content">
        <div class="modal-body">
        	<p>Are you sure that you want to leave the queue?</p>
        </div>
        <div class="modal-footer">
        	<center>
                <button class="btn btn-success save">Yes</button>
	          	<button class="btn cancel" data-dismiss="modal">No</button>
           </center>
        </div>
      </div>
  </div>
</template>

<template name="appPostponeQueueConfirm">
  <div id="appPostponeQueueModal" class="modal notvisible">
      <div class="modal-content">
        <div class="modal-body">
        	<p>Are you sure that you want to postpone your turn?</p>
        	<p>Your new position would be {{newLocation}}</p>
        	<p>Estimated wait time would be {{newEstimatedTime}} mins</p>
        </div>
        <div class="modal-footer">
        	<center>
                <button class="btn btn-success save">Yes</button>
        	  	<button class="btn cancel" data-dismiss="modal">No</button>
            </center>
        </div>
      </div>
  </div>
</template>