<template name="appQueueContent">
	<div id="queuecontent" class="toppad">
		{{> appLeaveQueueConfirm}}
		{{> appPostponeQueueConfirm}}

		<div class="panel-group" id="accordion">
			{{#each queueitem}}
				{{#with ticketItem}}
					<div class="{{turnStatus ../currentSeq}}">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#{{_id}}">{{branchName}}: {{../name}}</a>
							</h4>
						</div>
						<div id="{{_id}}" class="panel-collapse collapse">
							<div class="panel-body">
                                <div id="owl-queues" class="owl-carousel owl-theme">
                                    <div class="item">{{> appShowQueueInfo }}</div>
                                    <div class="item">{{> appShowBranchInfo }}</div>
								</div>
							</div>
						</div>
					</div>
				{{/with}}
			{{else}}
				<p>You are not in any active queue</p>
			{{/each}}
		</div>
	</div>
</template>

<template name="appShowQueueInfo">
    <h3>Your Location</h3>
    <p>{{../prefix}}{{sequence}}</p>
    <h3>Current Location</h3>
    <p>{{../prefix}}{{../currentSeq}}</p>
    {{#if isMissed status}}
        <p>You have missed your turn.</p>
        {{#if ../active}}
            <p>Would you like to join this queue again?</p>
            <button type="button" class="btn btn-default rejoin">Yes</button>
            <button type="button" class="btn btn-default nojoin">No</button>
        {{else}}
            <p>The queue is closed. You cannot join it again.</p>
        {{/if}}
    {{else}}
        {{#if station}}
            <p>It's your turn! please come to station {{station}}</p>
        {{else}}
            <h3>Estimated waiting time</h3>
            <p>{{estimatedWaitTime}} mins</p>
            <p>There are <b> {{ahead}} </b> people ahead</p>

            {{#if isPostponeInvalid ..}}
                <button type="button" class="btn btn-default postpone" disabled="true">Postpone turn</button>
            {{else}}
                <button type="button" class="btn btn-default postpone">Postpone turn</button>
            {{/if}}

            <button type="button" class="btn btn-default leave">Leave queue</button>
        {{/if}}
    {{/if}}
</template>

<template name="appShowBranchInfo">
	{{#with branchItem}}
        {{#if openingHours}}
            <h3>Opening Hours</h3>
            <p>{{openingHours}}</p>
        {{/if}}

        {{#if address}}
            <h3>Address</h3>
            <p>{{address}}</p>
        {{/if}}

        {{#if branchInfo}}
            <h3>Information</h3>
            <p>{{branchInfo}}</p>
        {{/if}}
	{{/with}}
</template>

<template name="appLeaveQueueConfirm">
  <div id="appLeaveQueueModal" class="modal notvisible">
      <div class="modal-content">
        <div class="modal-body">
        	<p>Are you sure that you want to leave the queue?</p>
        </div>
        <div class="modal-footer">
        	<center>
                <button class="btn btn-success save">Yes</button>
	          	<button class="btn cancel" data-dismiss="modal">No</button>
           </center>
        </div>
      </div>
  </div>
</template>

<template name="appPostponeQueueConfirm">
  <div id="appPostponeQueueModal" class="modal notvisible">
      <div class="modal-content">
        <div class="modal-body">
        	<p>Are you sure that you want to postpone your turn?</p>
        	<p>Your new position would be {{newLocation}}</p>
        	<p>Estimated wait time would be {{newEstimatedTime}} mins</p>
        </div>
        <div class="modal-footer">
        	<center>
                <button class="btn btn-success save">Yes</button>
        	  	<button class="btn cancel" data-dismiss="modal">No</button>
            </center>
        </div>
      </div>
  </div>
</template>