<template name="appMainContent">
	<div id="maincontent">
    {{> appChooseBranch}}
		{{> appChooseQueue}}
		{{> appAdditionalDetails}}

		<h1 id="findQueueh1">Find Queue</h1>
		<br><br>

    <button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" id="scangps">
    Via GPS
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-default btn-lg btn-block" aria-label="Left Align" id="scanqr">
    Via QR code
      <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
    </button>

		<div id="erroralert" class="alert alert-danger notvisible errorlabel" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  <p id="errorLabel"></p>
		</div>
	</div>
</template>

<template name="appChooseBranch">
    <div id="appChooseBranchModal" class="notvisible mobileModal">
        <div class="mobileModalContent">
            <div class="modal-header">
                <center>
                    <h3>Choose a branch</h3>
                </center>
            </div>

            <div class="modal-body">
                <div id="branchesgroup" class="list-group">
					{{#each branchItem}}
                        <a href="#" id="{{name}}" class="list-group-item">{{name}}</a>
					{{/each}}
                </div>

                <center>
                    <button class="btn cancel" data-dismiss="modal">Cancel</button>
                </center>
            </div>
        </div>
    </div>
</template>

<template name="appChooseQueue">
  <div id="appChooseQueueModal" class="notvisible mobileModal">
      <div class="mobileModalContent">
      	<div class="modal-header">
          	<center>
        		<h3>Choose a queue</h3>
        	</center>
        </div>

        <div class="modal-body">
        	<div id="queuesgroup" class="list-group">
        		{{#each queueItem}}
			  		 {{#if isInQueue}}
                <button id="{{name}}" class="list-group-item disabledQueue btn-block" disabled="true">{{name}} - You already have a turn</button>
              {{else}}
                <button id="{{name}}" class="list-group-item btn-block">{{name}}</button>
              {{/if}}
			  	{{/each}}
			</div>

			<center> 
				<button class="btn cancel" data-dismiss="modal">Cancel</button>
			</center>
        </div>
      </div>
  </div>
</template>

<template name="appAdditionalDetails">
  <div id="appAdditionalDetailsModal" class="notvisible mobileModal">
      <div class="mobileModalContent">
      <div class="modal-header">
          	<center>
        		<h3>Additional details are required</h3>
        	</center>
        </div>
        <div class="modal-body">
        	{{#each detail}}
        		<div class="input-group" dir="ltr" style="margin-top: 4px;">
                    <id class="input-group-addon">{{name}}</id>
                    <input type="text" class="form-control {{type}}" aria-describedby="sizing-addon2" style="height: 30px;" onfocus=inputFocus(this) required>
                </div>
        	{{/each}}
        </div>
        <div class="modal-footer additionalFooter">
        	<center>
            <p id="message" style="color: red;"></p>
        	  <button class="btn cancel" data-dismiss="modal">Cancel</button>
	          <button class="btn btn-success save">Submit</button>
            </center>
        </div>
      </div>
  </div>
</template>