input[type=text].isValid {
	border-style: solid;
    border-color: green;
    border-width: 1px;
    background-color: #CEFFE7;
}

input[type=text].isInvalid {
	border-style: solid;
    border-color: red;
    border-width: 1px;
    background-color: #FFCECE;
}

button.disabledQueue{
    text-decoration:none;
    color: #ccc;
}