<template name="boBranches">
    <div class="row ">
        <div class="col-md-3 col-sm-5">
            {{>boBranchList}}
        </div>
        <div class="col-md-9 col-sm-7">
           <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="container-fluid">
                  {{#if showBranchDetails}}
                    {{>boBranchDetails}}
                  {{/if}}
                </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="container-fluid">
                    {{#if showBranchDetails}}
                      {{>boBranchDashboard}}
                    {{/if}}
                </div>
              </div>
           </div>
        </div>
    </div>
</template>


<!--//////////////////////////////
      BRANCH SIDEBAR TAMPLATES
/////////////////////////////-->      
<template name="boBranchList">
  <div class="container-fluid">
      <div class="col-sm-12 text-center well well-lg outerbg">              
          <h4 class="name-header">Branches</h4>
       </div> 
      <div class="col-sm-12 well well-lg outerbg branch-toolbar">
         <div class="col-md-6 col-sm-12">
          <input type="search-branch" class="form-control search-branch" placeholder="Search branch"/>
        </div> 
        <div class="col-md-6 col-sm-12">
          <button type="button" class="btn btn-warning add-branch">Create Branch</button>
        </div>
      </div>  
      <div class="col-sm-12 well well-lg outerbg">

              {{#each branchList}}
                    {{>boBranchItem}}
              {{/each}}
      </div>
  </div>    
</template>

<template name="boBranchItem">
    <div class="container-fluid branchItem well well-lg innerbg btn" data-name="{{name}}" data-id="{{_id}}">
        {{#if branch.active}}
          <div class="col-md-1 col-sm-1 text-center branchItem" data-id="{{_id}}"><span class="glyphicon glyphicon-ok-sign green-icon" aria-hidden="true"></span></div>
        {{else}}
          <div class="col-md-1 col-sm-1 text-center branchItem" data-id="{{_id}}"><span class="glyphicon glyphicon-remove-sign red-icon" aria-hidden="true"></span></div>
        {{/if}}
        <div class="col-md-5 col-sm-5  branchItem text-item" data-id="{{_id}}">{{name}}</div>
        <div class="col-md-5 col-sm-4 branchItem green-icon" data-id="{{_id}}">{{userRole _id}}</div> 
  </div>

</template>

<!--//////////////////////////////
      BRANCH DETAILS TAMPLATES
/////////////////////////////-->
<template name="boBranchDetails">
  <div class = "row well well-lg outerbg">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center branch-name-title"><span>{{branch.name}}</span></div>
        </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center text-item branch-address"><span>{{branch.address}}</span></div>
      </div>
      {{#if userIsAdmin}}
      <div class="row">
         <div class="col-md-2 col-md-offset-10 col-sm-12">
           <div class="col-md-1 edit-branch"><span class="glyphicon glyphicon-edit icon blue-icon" title="Edit Branch" aria-hidden="true"></span></div>
            <div class="col-md-1 text-center col-md-offset-1 branchItem delete-branch" data-id="{{_id}}"><span class="glyphicon glyphicon-remove icon red-icon" aria-hidden="true"></span></div>
        </div>
      </div>
      {{/if}}
  </div>
</template>



<!--//////////////////////////////
      BRANCH DASHBOARD TAMPLATES
/////////////////////////////-->
<template name="boBranchDashboard">
  <div class = "row well well-lg outerbg">
   <div class="row container-fluid">
    <ul class="nav nav-tabs" role="tablist" id="BranchTabs">
      <li role="presentation" class="active not-branch-statistics"><a href="#queues" aria-controls="queues" role="tab" data-toggle="tab">Queues</a></li>
     {{#if userIsAdmin}}
      <li role="presentation"><a href="#users" class="not-branch-statistics" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
     {{/if}}
        <li role="presentation"><a href="#statistics" class="branch-statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistics</a></li>
    </ul>
</div>
 <div class="row container-fluid">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="queues">{{>boBranchQueues}}</div>
     {{#if userIsAdmin}}
      <div role="tabpanel" class="tab-pane" id="users">{{>boBranchUsers}}</div>
      {{/if}}
      <div role="tabpanel" class="tab-pane" id="statistics">
          {{#if showBoBranchStatistics}}{{>boBranchStatistics}}{{/if}}
      </div>
    </div>
    </div>
  </div>
</template>

