<template name="boBranches">
    <div class="row">
        <div class="col-md-3">
            {{>boBranchList}}
        </div>
        <div class="col-md-9">
           <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  {{#if showBranchDetails}}
                    {{>boBranchDetails}}
                  {{/if}}
                </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                    {{#if showBranchDetails}}
                      {{>boBranchDashboard}}
                    {{/if}}
                </div>
              </div>
           </div>
        </div>
    </div>
</template>


<!--//////////////////////////////
      BRANCH SIDEBAR TAMPLATES
/////////////////////////////-->      
<template name="boBranchList">
  {{#if showBoAddBranch}}
    {{>boAddBranch}}
  {{/if}} 

  <div class="col-sm-12">  
    <div class="col-sm-6">
      <button type="button" class="btn btn-info add-branch">Create Branch</button>
    </div>
    <div class="col-sm-6">
      <input type="search" class="form-control search" placeholder="Search branch"/>
    </div>
  </div>  
  <div class="col-sm-12">
    <table class="table table-hover">
      <tbody>
          {{#each branchList}}
                {{>boBranchItem}}
          {{/each}}
        </tbody>
    </table>
  </div>
</template>

<template name="boBranchItem">
    <tr data-name="{{name}}" data-id="{{_id}}" class="branchItem">
      <td>{{name}}</td>
    </tr>
</template>

<template name="boAddBranch">
  <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Branch Name</label>
              <input value="{{branch.name}}" class="form-control branch-name" placeholder="Branch Name">

              <label for="location">Branch Location</label>
              <input value="{{branch.location}}" class="form-control branch-location" placeholder="Branch Location">

              <label for="active">Branch Activity</label>
              <select class="form-control branch-active">
                <option value="Active">Active</option>
                <option value="Not active">Not Active</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-success save">Save</a>
          <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</template>

<!--//////////////////////////////
      BRANCH DETAILS TAMPLATES
/////////////////////////////-->
<template name="boBranchDetails">
  <div class = "row well well-lg">
      <div class="row">
        <div class="col-md-4 text-center"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></div>
        <div class="col-md-4 text-center"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></div>
        <div class="col-md-4 text-center"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center"><span>Name</span></div>
        <div class="col-md-4 text-center"><span>Location</span></div>
        <div class="col-md-4 text-center"><span>Activity</span></div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center"><span>{{branch.name}}</span></div>
        <div class="col-md-4 text-center"><span>{{branch.location}}</span></div>
        <div class="col-md-4 text-center"><span>{{branch.active}}</span></div>
      </div>
  </div>
</template>


<!--//////////////////////////////
      BRANCH DASHBOARD TAMPLATES
/////////////////////////////-->
<template name="boBranchDashboard">
  <div class="row well well-lg">
    <div class="col-md-3">
      <div class="brand text-center">Queues</div>
    </div>
    <div class="col-md-3">
      <div class="brand text-center">Users</div>
      {{currentUser._id}}
    </div>
    <div class="col-md-3">
      <div class="brand text-center">Kiosks</div>
    </div>
    <div class="col-md-3">
      <div class="brand text-center">Statistics</div>
    </div>
  </div>
</template>