<template name="boModal">
	<div id="overlay" class="overlay">
		 <div class="modal">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close cancel" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title text-item">{{modalTitle}}</h4>
	        </div>
	        <div class="modal-body text-center outerbg text-item">
	            {{#if showBoAlert}}
	     			 {{> boAlert}}
	    		{{/if}}
				{{modalContent}}
				
				{{#if showBoAddBranch}}
					{{>boAddBranch}}
				{{/if}} 
				{{#if showBoAddQueue}}
					{{>boAddQueue}}
				{{/if}}
				{{#if showBoQueuePrefix}}
					{{>boChangePrefix}}
				{{/if}}
				{{#if showBoAddUser}}
					{{>boAddUser}}
				{{/if}}
				{{#if showBoChangeUserRole}}
					{{>boChangeUserRole}}
				{{/if}}
				{{#if showBoMyProfile}}
					{{>boMyProfile}}
				{{/if}}
				{{#if showBoChangeClerkStation}}
					{{>boChangeClerkStation}}
				{{/if}}

	        </div>
	        <div class="modal-footer">
	        {{#if submitButton modalAction}}
	          <a href="/" class="btn btn-{{modalButtonColor}} save-{{modalAction}}">{{modalButton}}</a>
	        {{/if}}  
	          <a href="#" class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
	        </div>
	      </div>
	  </div>
  </div>
</template>

<template name="boAddBranch">
      <div class="form-group col-md-10 col-md-offset-1">
        <input value="{{branch.name}}" class="form-control branch-name" placeholder="Branch Name">
      </div>
    <div class="form-group col-md-10 col-md-offset-1">
        <textarea class="form-control branch-hours" placeholder="Opening Hours">{{branch.openingHours}}</textarea>
    </div>
    <div class="form-group col-md-10 col-md-offset-1">
      <!--  <input value="{{branch.branchInfo}}" class="form-control branch-info" placeholder="Branch Description">-->
		<textarea class="form-control branch-info" placeholder="Branch Description">{{branch.branchInfo}}</textarea>
    </div>
    <div class="form-group col-md-10 col-md-offset-1">
        <input value="{{branch.website}}" class="form-control branch-website" placeholder="Website">
    </div>
      <div class="form-group col-md-10 col-md-offset-1">  
        <select class="form-control branch-active ">
          <option {{selected branch.active true}} value="true">Active</option>
          <option {{selected branch.active false}} value="false">Not Active</option>
        </select>
      </div>
        <div class="form-group col-md-10 col-md-offset-1">
        <input value="{{branch.kioskUsername}}" disabled class="form-control branch-kiosk-username" placeholder="Username will be generated after branch creation">
     	</div>
       <div class="form-group col-md-10 col-md-offset-1">
        <input value="{{branch.password}}" class="form-control branch-password" type="password" placeholder="Kiosk password">
      </div>
      {{>boMap}}
</template> 

<template name="boMap">  
	<div class="form-group col-md-10 col-md-offset-1">  
		<input id="geoInput" class="form-control branch-location" name="place" placeholder="Address">
	</div>
	<div class="form-group col-md-10">  
		<div id="geoMap" class="outerbg"></div>
	</div>
</template>  

<template name="boAddQueue">
	<form>
		<div class="form-group col-md-10 col-md-offset-1">  
			<input value="{{queue.name}}" class="form-control queue-name" placeholder="Queue Name">
		</div>
		<div class="form-group col-md-10 col-md-offset-1">  
			<select class="form-control queue-active">
				<option value="true">Active</option>
				<option value="false">Not Active</option>
			</select>
		</div>
		<div class="form-group col-md-10 col-md-offset-1">  
			<input class="form-control queue-prefix" placeholder="Queue prefix">
		</div>
		<div class="form-group col-md-10 col-md-offset-1">  
			<label><input class="queue-permission" type="checkbox"/>Visible only to managers</label>
			
		</div>
	</form>
</template>

<template name="boChangePrefix">
		<input class="form-control queue-prefix-input" value="{{queue.prefix}}"/>
</template>

<template name="boAddUser">
    <div class="modal-body">
		<div class="form-group col-md-10 col-md-offset-1"> 
			<input type="search" class="form-control search-new-user" placeholder="Search user"/>
		</div>
		{{#each newUserList}}
			<div class="col-md-10 col-md-offset-1 well well-lg innerbg">
				<div class="row container-fluid">
					<div class="col-md-3 text-item">
						{{name}}
					</div>
					<div class="col-md-3 text-item">
						{{email}}
					</div>
					<span class="col-md-3 col-md-offset-3 glyphicon glyphicon-plus icon green-icon user-add" data-id="{{_id}}" title="Add user" aria-hidden="true"></span>
				</div>  
			</div>
        {{/each}}
    </div>
</template>

<template name="boChangeUserRole">
	<div class="col-md-10">
		<select class="col-md-10 col-md-offset-2 form-group user-role-input">
			<option {{selected user.role 'Clerk'}} value="Clerk">Clerk</option>	
			<option {{selected user.role 'Manager'}} value="Manager">Manager</option>	
			<option {{selected user.role 'Admin'}} value="Admin">Admin</option>	
		</select>		
	</div>
</template>

<template name="boMyProfile">
	<div class="form-group col-md-10 col-md-offset-1">
		<input class="form-control my-user-name" value="{{currentUser.profile.name}}"/>
	</div>
	<div class="form-group col-md-10 col-md-offset-1">
		<input class="form-control" disabled value="{{currentUser.emails.[0].address}}"/>
	</div>
	<div class="form-group col-md-10 col-md-offset-1">
		<input class="form-control my-user-old-password" type="password" placeholder="Old password"/>
	</div>
	<div class="form-group col-md-10 col-md-offset-1">
		<input class="form-control my-user-new-password" type = "password" placeholder="New password"/>
	</div>
</template>

<template name="boChangeClerkStation">
	<input class="form-control clerk-station-input" value="{{clerkStationNumber}}"/>
</template>