<template name="boBranchQueues">
	{{#if showBoWorkStation}}
		{{>boQueueHeader}}
		{{>boQueueWorkStation}}
	{{/if}}	

	{{#if showBoAdditionalDetails}}
		{{>boQueueHeader}}
		{{>boAdditionalDetails}}
	{{/if}}

	{{#if showBoQueueStatistics}}
		{{>boQueueHeader}}
		{{>boQueueStatistics}}
	{{/if}}

	{{#if showBoQueueList}}	
		<div class="col-md-12">  
			<div class="col-md-5">
				<input type="search" class="form-control search-queue" placeholder="Search Queue"/>
			</div>
			{{#if userIsManager}}	
				<div class="col-md-2">
					<button type="button" class="btn btn-warning add-queue">Add new queue to branch</button>
				</div>
			{{/if}}	
		</div>  
		{{#each queueList}}
          {{>boQueueItem}}
      	{{/each}}
	{{/if}} 
</template>

<template name="boQueueHeader">
	<div class="row container-fluid" rows="20">
		<div class="col-md-11">  
		 	<h3 class="name-header text-center">{{queueName}}</h3>
		</div> 
		<div class="col-md-1">  
			 <button type="button" class="close close-queue" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div> 
	</div>
</template>

<template name="boQueueItem">
{{#if managerOrPublic ./_id}}
	<div class="col-md-10 well well-lg innerbg">
		<div class="row container-fluid">
			<div class="col-md-3 text-item">
				{{name}}
			</div>
			<div class="col-md-1 open-workstation" data-id="{{_id}}">
				<span class="glyphicon glyphicon-play icon blue-icon" title="Open Workstation" aria-hidden="true"></span>
			</div>	
			<div class="col-md-1 add-details-to-queue" data-id="{{_id}}">
					<span class="glyphicon glyphicon-th-list icon blue-icon" title="Aditional data" aria-hidden="true"></span>
			</div>	
			{{#if userIsManager}}
				{{#if queueIsActive ./_id}}
					<div class="col-md-1 col-md-offset-1 active-queue" data-id="{{_id}}">
						<span class="glyphicon glyphicon-eye-open icon green-icon" title="Close queue" aria-hidden="true"></span>
					</div>
				{{else}}
					<div class="col-md-1 col-md-offset-1 unactive-queue" data-id="{{_id}}">
						<span class="glyphicon glyphicon-eye-close icon red-icon"  title="Open queue" aria-hidden="true"></span>
					</div>
				{{/if}}
				<div class="col-md-1 queue-reset-ticket-count" data-id="{{_id}}">
					<span class="glyphicon glyphicon-refresh icon red-icon"  title="Reset tickets count" aria-hidden="true"></span>
				</div>

				<div class="col-md-1 queue-prefix" data-id="{{_id}}">
					<span class="glyphicon glyphicon-font icon blue-icon" title="Change prefix" aria-hidden="true"></span>
				</div>

				{{#if queueIsPublic ./_id}}
					<div class="col-md-1 public-queue" data-id="{{_id}}">
						<span class="glyphicon glyphicon-user icon green-icon" title="Public" aria-hidden="true"></span>
					</div>
				{{else}}
					<div class="col-md-1 unpublic-queue" data-id="{{_id}}">
						<span class="glyphicon glyphicon-user icon red-icon" title="Managers" aria-hidden="true"></span>
					</div>
				{{/if}}	
				<div class="col-md-1 queue-statistics" data-id="{{_id}}" title="Statistics">
					<span class="glyphicon icon blue-icon glyphicon-stats" title="Statistics" aria-hidden="true"></span>
				</div>
				<div class="col-md-1 remove-queue" data-id="{{_id}}">
					<span class="glyphicon glyphicon-remove icon red-icon" title="Delete Queue" aria-hidden="true"></span>
				</div>
			{{/if}}
		</div>
		{{#if showClientsInLine ./_id}}
		<div class="row container-fluid">					
			<div class="col-md-2 red-icon">
				Waiting in line: {{clientsInLine}}
			</div>
		</div>
		{{/if}}	
	</div>
{{/if}}	
</template>
