<template name="boBranchQueues">
	{{#if showWorkStation}}
		<div class="col-md-12">  
			 <button type="button" class="close close-workstation" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div> 
		{{>boQueueWorkStation}}
	{{else}}
		<div class="col-md-12">  
			<div class="col-md-5">
				<input type="search" class="form-control search-queue" placeholder="Search Queue"/>
			</div>
			<div class="col-md-2">
				<button type="button" class="btn btn-info add-queue">Add new queue to branch</button>
			</div>
		</div>  
		{{#if showBoAddQueue}}
			{{>boAddQueue}}
		{{/if}}
		{{>boQueueList}}
	{{/if}} 
</template>


<template name="boQueueList">
      {{#each queueList}}
          {{>boQueueItem}}
      {{/each}}
</template>


<template name="boQueueItem">
	 <div class="col-md-10 well well-lg innerbg queueItem" data-id="{{_id}}">{{name}}</div>
</template>


<template name="boAddQueue">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add new Queue</h4>
        </div>
        <div class="modal-body">
			<form>
				<div class="form-group">
					<input value="{{queue.name}}" class="form-control queue-name" placeholder="Queue Name">
				</div>
				<div class="form-group">
					<select class="form-control queue-active">
						<option value="Active">Active</option>
						<option value="Not active">Not Active</option>
					</select>
				</div>
				<div class="form-group">
					<label><input class="queue-permission" type="checkbox"/>Visible only to managers</label>
					
				</div>
			</form>


        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-success save">Create</a>
          <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</template>


<template name="boQueueWorkStation">
	<div class="row container-fluid">
		<div class="col-md-4">
			Current Ticket:
		</div>
		<div class="col-md-4">Last Ticket:</div>
		<div class="col-md-4">Open stations for queue:</div>
	</div>
	<div class="row">
		<hr>
	</div>
	<div class="row container-fluid	">
		<div class="col-md-12 col-md-offset-5">
			<button type="button" class="btn btn-info next-ticket">Next</button>
		</div>
	</div>
</template>