<template name="boBranchUsers">
    <div class="col-md-12">  
      <div class="col-md-5">
        <input type="search" class="form-control search-user" placeholder="Search Email"/>
      </div>
      <div class="col-md-2">
         <button type="button" class="btn btn-warning add-user">Add new user to branch</button>
      </div>
  </div>

    {{#each userList}}
      {{>boUserItem}}
    {{/each}}

</template>


<template name="boUserItem">
  <div class="col-md-10 well well-lg innerbg userItem" data-id="{{_id}}">
    <div class="row container-fluid">
      <div class="col-md-3 text-item">
        {{name}}
      </div>
      <div class="col-md-3 text-item">
        {{email}}
      </div>
      <div class="col-md-1 col-md-offset-3 red-icon">
        {{role}}
      </div>
      <div class="col-md-1">
        <span class="glyphicon glyphicon-sort icon red-icon user-change-role" data-id="{{userId}}" title="Change status" aria-hidden="true"></span>
      </div>
      <div class="col-md-1">
          <span class="glyphicon glyphicon-remove icon red-icon user-remove" data-id="{{userId}}" title="Remove user" aria-hidden="true"></span>
      </div>
    </div>  
  </div>
</template>





